.header{
  font-weight: 100;
}

.header__title{
  margin: 0;
  font-size: 36px;

}

.header__block{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header__subtitle{
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}


.header__status{
  max-width: 120px;
  font-weight: 400;
  font-style: italic;
}

.status{
  display: block;
  margin: 0;
  padding: 0;
}

